// Styles for layout component
.container
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column
    font-size: 0.875rem
    @media screen and (max-width: 800px)
        font-size: 0.7rem
    @media screen and (max-width: 768px)
        font-size: 0.35rem

    & > *
        height: 100%

// Styles for inputbar component
.inputbar input
    border-bottom: 1px solid #A4A4A4
    background-color: #FFFF
    border-radius: 10px
    width: 400px
    height: 51.11px
    font-size: 13px
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 18px
    line-height: 77px

// Styles for buttons component
.primarybutton button
    color: white
    text-transform: uppercase
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 17px
    line-height: 29px

    background: #fc5c3e
    width: 200px
    height: 55px

    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25))
    border-radius: 10px
    border: none

    &:hover
        color: gray

// Styles for navbar component
.nav
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    user-select: none
    padding: 0.5rem 0.75rem
    position: sticky
    top: 0

.bottomNav
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    height: 3rem
    user-select: none
    background-color: #172123
    overflow: hidden
    ul
        display: flex
        justify-content: space-evenly
        align-items: center
        gap: 1rem

.nav button
    color: white
    font-family: 'Inter'
    font-weight: 600
    font-size: 0.75rem
    text-transform: uppercase
    display: flex
    align-items: center
    &:hover
        color: #fc5c3e
        cursor: pointer

.option
    margin: auto
    flex: auto
    display: flex
    justify-content: center
    gap: 3rem
    @media screen and (max-width: 800px)
        gap: 1rem

.auth
    display: flex
    align-items: center
    justify-content: between
    margin-left: auto
    height: 100%
    padding: 0 0.25rem
    gap: 1.5rem
    font-weight: bold

@media screen and (max-width: 768px )
    .nav
        display: none

    .container
        main
            margin-bottom: 5rem

    .bottomNav
        position: fixed
        bottom: 0
        width: 100%
        z-index: 100

    .auth
        display: none

@media screen and (min-width: 768px)
    .bottomNav
        display: none

//Background for tab component
.background
    background-color: transparent
    width: 40em
    height: 25em
    border-radius: 10px

//Container for tabs
.titleContainer
    margin-top: 7vh
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    font-family: sans-serif
    font-weight: bold
    background-color: #fc5c3e
    padding: 0
    border-radius: 10px
    height: 8vh

//Tab contents
.tabContent
    height: 55vh
    width: 70vw
    display: flexbox
    flex-direction: column
    overflow-x: hidden
    overflow-y: auto
    background-color: transparent

.tabContent::-webkit-scrollbar
    opacity: 0

//Selected tab
.selectedTab
    color: white
    background-color: #fc5c3e
    height: 85%
    width: 49%
    text-align: center
    line-height: 10px
    elevation: 3
    box-shadow: none
    border: 0
    font-size: 1.3rem

//Unselected tab
.unselectedTab
    color: #fc5c3e
    background-color: #001011
    height: 93%
    width: 50%
    text-align: center
    line-height: 10px
    elevation: 3
    box-shadow: none
    border: black 1px
    border-radius: 9px
    font-size: 1.3rem

// Card base 
.cardContainer
    background-color: white
    width: 35rem
    height: 10rem
    border-radius: 10px
    position: relative
    font-family: sans-serif
    margin-top: 2em

// Information
.cardInfo
    padding-top: 0.1rem

// Match time info
.time
    color: black
    font-weight: bold
    margin-left: 1rem

// Match sport type info
.sportType
    font-weight: bold
    color: gray
    margin-left: 1rem

// Container for location and button
.miniContainer
    display: flex
    flex-direction: row
    justify-content: space-between
    background-color: #fc5c3e
    position: absolute
    bottom: 0
    border-radius: 0 0 10px 10px
    width: 100%
    height: 30%
    margin: auto

// location icon
.location p:before
    content: ""
    display: block
    background: url("/icons/location.png") no-repeat
    width: 20px
    height: 20px
    float: left
    margin: 1rem 0 0 2rem

// Match location info
.location
    color: white
    margin-left: 1rem

// button for user to leave match or delete
.cancelButton
    background-color: #fc5c3e
    border: solid 1px white
    border-radius: 7px
    color: white
    margin-right: 1rem

// This uses media query where when its max-width is below 1000 it changes styles to be responsive 
@media screen and (max-width: 815px)

    //Background for tab component
    .background
        background-color: transparent
        min-width: 33rem
        min-height: 40rem
        border-radius: 10px
        margin-top: 1rem
        overflow: hidden

    //Container for tabs
    .titleContainer
        margin-top: 1vh
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        font-family: sans-serif
        font-weight: bold
        background-color: #fc5c3e
        padding: 0
        border-radius: 10px
        height: 8vh

        //Tab contents
    .tabContent
        max-height: 23rem
        min-width: 35rem
        display: flexbox
        flex-direction: column
        overflow-x: hidden
        overflow-y: auto
        background-color: transparent

    .tabContent::-webkit-scrollbar
        opacity: 0

        // Card base 
    .cardContainer
        background-color: white
        max-width: 33rem
        min-height: 10rem
        border-radius: 10px
        font-family: sans-serif
        margin-top: 2em
