// userHistory page background
.background
  min-height: 100vh
  min-width: 100vw
  display: flex
  justify-content: center

// container to hold card components
.cardBox
  background-color: white

// main container
.historyContainer
  height: 50vh
  width: 60vw

    // This uses media query where when its max-width is below 1000 it changes styles to be responsive 
@media screen and (max-width: 1000px)

.historyContainer
  flex-direction: column

    // This uses media query where when its max-width is below 1000 it changes styles to be responsive 
@media screen and (max-width: 1000px)

  .container
    flex-direction: column
