.background
    background-image: url("/img/background.png")
    min-height: 100vh
    min-width: 100vw
    display: flex
    justify-content: center

.cardBox
    background-color: white

.historyContainer
    //background-color: pink

    height: 50vh
    width: 60vw
