// This the styles for match page 
.matches
    display: flex
    margin-left: 40px
    margin-top: 50px
    flex-direction: column
    &> *
        width: 100%
    @media screen and (max-width: 768px)
        margin: 0

.matches h1
    display: flex
    margin-top: 20px
    font-family: 'Inter'
    font-style: normal
    font-weight: bold
    font-size: 30px
    color: #ffff
    text-transform: uppercase

.matches p
    padding-top: 25px
    padding-left: 35px
    margin-bottom: 1rem
    font-family: 'Inter'
    font-style: normal
    font-size: 1.25rem
    font-weight: 600
    color: white
    @media screen and (max-width: 768px)
        padding: 0 0.5rem

// styles for search bar  
.search
    display: flex
    padding-left: 35px
    margin-bottom: 2.75rem
    @media screen and (max-width: 768px)
        flex-direction: column
        padding: 1rem 0.5rem
        gap: 1rem
        margin-bottom: 1.5rem

.searchitem
    display: flex
    padding: 0 0.5rem
    background-color: #f1ecec
    width: 50%
    min-width: 300px
    margin: auto
    border-radius: 10px
    @media screen and (max-width: 768px)
        width: 100%
        min-width: 0

.cards
    flex-shrink: 0
    width: 100%
    height: 170px
    margin-left: 10px
    border-radius: 10px
    background-color: gray
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
