
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')

// This the styles for login page 
.container
  @apply grid grid-cols-2
  user-select: none

// This the styles for left container shown in the browser
.box
  background-color: rgba(#FC5C3E, 0.8)
  width: 100%
  min-height: 100vh
  user-select: none

.about
  display: flex
  flex-direction: column
  gap: 2.5rem
  word-spacing: 10px
  margin-top: 200px
  font-family: 'Aldrich', sans-serif
  font-weight: 400
  text-align: center
  text-align: center
  color: #FFFF
  h2 
    font-size: 2rem
    display: block
  p
    font-size: 1.75rem

// This the styles for right container shown in the browser
.background
  width: 50%
  height: 100vh
  user-select: none

// This the styles for logo 
.imgwrapper
  display: flex
  justify-content: center
  margin-top: 50px

// This the styles for input component
.input
  display: flex
  justify-content: center
  margin-top: 20px


.login
  display: flex
  justify-content: center
  align-items: center
  background-color: #fc5c3e
  color: white
  width: 100%
  font-family: 'Inter', sans-serif
  font-weight: bold
  font-size: 17px
  text-align: center
  letter-spacing: 5px
  text-transform: uppercase
  margin-top: 50px

.line
  display: flex
  justify-content: center

.discord
  display: flex
  justify-content: space-between
  align-items: center
  width: 400px
  height: 50px
  padding: 0 0.5rem
  font-weight: bold
  font-size: 17px
  margin-bottom: 17px
  background: #FFFFFF
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25)
  border-radius: 5px
  border: none

  p 
    @apply flex-auto

.google
  display: flex
  justify-content: space-between
  align-items: center
  width: 400px
  height: 50px
  padding: 0 0.5rem

  font-weight: bold
  font-size: 17px

  background: #FFFFFF
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25)
  border-radius: 5px
  border: none

  p 
    @apply flex-auto

// This uses media query where when its max-width is below 1000 it changes styles to be responsive 
@media screen and (max-width: 1000px)

  .container
    display: flex
    flex-direction: column

  .background
    background-image: url("/img/mobile.png")
    background-position: 100%
    background-size: cover
    background-repeat: no-repeat
    width: 100%
    height: 100vh

  .box
    display: none
