//styles for card container
.container
    background: white
    overflow: hidden
    height: auto
    width: 739px
    margin: 50px auto
    border-radius: 10px
    align-items: center
    user-select: none
    padding-bottom: 60px
    font-family: 'Inter'
    font-style: normal
    h1
        display: flex
        justify-content: center
        font-family: 'Inter'
        font-style: normal
        font-weight: 700
        font-size: 30px
        line-height: 77px
        color: #FC5C3E
    h3
        font-family: 'Inter'
        font-style: normal
        font-weight: 700
        font-size: 24px
        margin-left: 17px
        color: #FC5C3E
    p
        font-family: 'Inter'
        font-style: normal
        font-weight: 700
        font-size: 20px
        line-height: 60px
        color: #A4A4A4
        margin-left: 17px

//styles for player cards of joined players 
.players
    margin: 10px 10px 10px 17px
    padding: 17px 10px 17px 10px
    float: left
    width: 700px
    height: 73px
    border: 1px solid #FC5C3E
    border-radius: 10px
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 30px
    text-transform: uppercase
    div
        float: right
    button
        width: 149.68px
        height: 32px
        border: 1px solid #FC5C3E
        border-radius: 10px
        color: #FC5C3E

//styles for date and time container
.calendar
    font-size: 17px
    float: right
    margin-right: 17px
    background: #FC5C3E
    color: #f6f6f6
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 10px
    width: 195px
    height: 35px

//styles for location container
.directions
    font-size: 17px
    float: right
    margin-right: 17px
    background: #FC5C3E
    color: #f6f6f6
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 10px
    width: 195px
    height: 35px

//styles for edit button
.edit
    font-size: 17px
    float: right
    margin: 17px
    background: #FC5C3E
    color: #f6f6f6
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 10px
    width: 100px
    height: 35px

//using media query for  mobile view
@media screen and (max-width: 900px)
    .container
        width: 400px
        height: auto

    .players
        width: 365px
