.container
  display: flex

.box
  background-color: #fc5c3e
  width: 50%
  height: 100vh
  user-select: none

@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap')

.about
  display: flex-block
  word-spacing: 10px
  margin-top: 250px

  font-family: 'Aldrich', sans-serif
  font-weight: 400
  font-size: 36px
  text-align: center
  line-height: 35px
  text-align: center
  color: #FFFF

.background
  background-image: url("/img/mobile.png")
  background-position: 50%
  background-size: cover
  background-repeat: no-repeat

  width: 50%
  min-height: 100vh
  user-select: none

@media (max-width: 428px)

  .container
    flex-direction: column

  .background
    background-image: url("/img/mobile.png")
    background-position: 50%
    background-size: cover
    background-repeat: no-repeat
    width: 428px
    height: 100vh

  .box
    display: none

.header
  display: flex
  justify-content: center
  margin-top: 60px

.input
  display: flex
  justify-content: center

.info input
  display: flex
  align-self: center
  border-bottom: 1px solid #A4A4A4
  background-color: #FFFF
  font-size: 17px
  border-style: none
  border-radius: 10px
  margin-top: 30px
  width: 400px
  height: 51.11px

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap')

.signup
  display: flex
  justify-content: center
  background-color: #fc5c3e
  color: white
  border-radius: 10px
  padding-top: 15px

  font-family: "Inter", sans-serif
  font-size: 24px
  text-align: center
  text-transform: uppercase

  width: 400px
  height: 55px
  margin-top: 50px
  margin-bottom: 50px

  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25))
  border-radius: 10px
