//page container
.page
    @apply flex flex-col justify-center items-center py-5

    //scoreboard style
    .scoreboard
        @apply md:grid md:grid-cols-2 sm:w-4/5 w-11/12 m-auto  gap-7 flex flex-col items-center mt-5
        color: white

        //home team scoreboard style
        .hometeam 
            @apply flex flex-col w-full
            &>*
                @apply w-full

            //title 
            .home
                text-align: center
                font-weight: 700
                font-size: 3rem
                color: #FC5C3E
                margin-bottom: 2rem

            //list of players
            .homeplayers
                margin-top: 1.5rem
                @apply flex flex-col items-center py-3 px-5 bg-white items-center gap-3 rounded-md  h-full

            //pause match button
            .pause
                @apply px-7 py-2 text-center text-orange-500 bg-white mt-7 md:w-1/2 w-full ml-auto rounded-md

        //away team scoreboard style
        .awayteam
            @apply flex flex-col w-full
            &>*
                @apply w-full

            //title
            .away
                text-align: center
                font-weight: 700
                font-size: 3rem
                margin-bottom: 2rem
                @media screen and (max-width: 768px)
                    font-size: 2rem 
            
            //list of players
            .awayplayers
                margin-top: 1.5rem
                @apply flex flex-col items-center py-3 px-5 bg-orange-600 items-center gap-3 rounded-md
            
            //finish match button
            .finish
                @apply px-7 py-2 text-center text-white bg-orange-600 mt-7 md:w-1/2 w-full mr-auto rounded-md

