.page
    @apply flex flex-col justify-center items-center py-5

    .scoreboard
        @apply sm:grid sm:grid-cols-2 px-10 w-full gap-7 flex flex-col items-center
        margin-top: 4rem
        color: white

        .hometeam 
            @apply flex flex-col w-full
            &>*
                @apply w-full

            .home
                text-align: center
                font-weight: 700
                font-size: 3rem
                color: #FC5C3E
                margin-bottom: 2rem

            .homeplayers
                margin-top: 1.5rem
                @apply flex flex-col items-center py-3 px-5 bg-white items-center gap-3 rounded-md 
                
                .homeplayer
                    @apply flex flex-row justify-between items-center text-orange-600 w-full sm:text-base text-sm

                    .homeleave
                        @apply rounded-md border-2 border-orange-500 px-7 py-0.5 sm:text-base text-sm

            .pause
                @apply px-7 py-2 text-center text-orange-500 bg-white mt-7 sm:w-1/2 w-full ml-auto rounded-md

        .awayteam
            @apply flex flex-col w-full
            &>*
                @apply w-full

            .away
                text-align: center
                font-weight: 700
                font-size: 3rem
                margin-bottom: 2rem
                @media screen and (max-width: 768px)
                    font-size: 2rem 

            .awayplayers
                margin-top: 1.5rem
                @apply flex flex-col items-center py-3 px-5 bg-orange-600 items-center gap-3 rounded-md

                .player
                    @apply flex flex-row justify-between items-center text-white w-full sm:text-base text-sm

                    .leave
                        @apply rounded-md border-2 border-white sm:px-7 px-3 py-0.5 sm:text-base text-sm

            .finish
                @apply px-7 py-2 text-center text-white bg-orange-600 mt-7 sm:w-1/2 w-full mr-auto rounded-md

